Math Map Vault/.obsidian/plugins/*
Math Map Vault/.obsidian/snippets
Math Map Vault/.obsidian/themes
Math Map Vault/.obsidian/config
Math Map Vault/.obsidian/daily-notes
Math Map Vault/.obsidian/starred
Math Map Vault/.obsidian/templates
Math Map Vault/.obsidian/workspaces

!Math Map Vault/.obsidian/plugins/dataview